@font-face {
  font-family: "Cherry Bomb";
  src: url(fonts/CherryBomb-Regular.ttf)
}

@font-face {
  font-family: "Cute Aurora";
  src: url(fonts/Cute_Aurora_demo.ttf);
}

img { border: 4px solid #4e6851; }

p { font-size: 22px; }

/* Background pattern */
.bgcolor {
  background: #4e6851;
  --gap: 5em;
  --line: 1px;
  --color: #dcc9a9;
  background-image: linear-gradient(
    -90deg,
    transparent calc(var(--gap) - var(--line)),
    var(--color) calc(var(--gap) - var(--line) + 1px),
    var(--color) var(--gap)
  ),
  linear-gradient(
    0deg,
    transparent calc(var(--gap) - var(--line)),
    var(--color) calc(var(--gap) - var(--line) + 1px),
    var(--color) var(--gap)
  );
  background-size: var(--gap) var(--gap);
}

/* Header stuff */
.navbar {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 4px solid #b83a2d;
  border-radius: 25px;
  background-color: #292929;
  font-family: "Cherry Bomb";
}

.icon {
  height: 85px;
  width: auto;
  padding-right: 2em;
  border: none;
}

/* Main page */
.main {
  width: 85%;
  height: 100%;
  display: flex;
  padding: 1.25em;
  flex-flow: wrap;
  min-width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 1em;
  border-radius: 25px;
  background-color: #dcc9a9;
  color: #292929;
  font-family: "Cute Aurora";
  border: 4px solid #292929;
}

.mycard {
  width: 25%;
  min-width: 200px;
  margin: auto;
  padding: 2em 1em;
  flex-grow: 1;
}

.face {
  display: block;
  max-width: 200px;
  margin: auto;
  border-radius: 50%;
}

.face-details {
  max-width: 100px;
  position: absolute;
  transform: translateX(-125%) translateY(-15%) rotate(20deg);
  border: none;
}

.descript {
  display: block;
  width: 65%;
  min-width: 400px;
  margin: auto;
  flex-grow: 1;
}

.texts { padding: 0 4em; }

.socials {
  display: block;
  margin: auto;
}

.socialdetails {
  max-width: 125px;
  position: relative;
  border: none;
}

/* Experiences page */
.demo {
  display:inline;
  margin: auto;
  width: 250px;
  padding: 0.25em;
}

.title { color: #b83a2d; }

.tags { color: #4e6851; }

.wide { width: 450px; }

/* Button customization */
button {
    font-size: 28px;
    color: #4e6851;
    font-family: "Cherry Bomb";
    font-weight: 300;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    /* text-transform: uppercase; */
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.menu {
  color: #dcc9a9;
}

button:focus, button:hover {
    color: #b83a2d;
}

button:focus:after, button:hover:after {
    width :100%;
    left: 0%;
}

button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #b83a2d;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}